<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentDAO">

<!-- 댓글 목록 -->
<select id="getCommentList" parameterType="int">
select *
from comment
where post_num = #{postNum}
</select>

<!-- 댓글 삽입 -->
<insert id="insertComment" parameterType="commentVO">
insert into
comment(comment_content, userid, post_num, post_type)
values(#{commentContent}, #{userId}, #{postNum}, #{postType})
</insert>

<!-- 댓글 수정 -->
<update id="updateComment">
update comment
set
comment_content = #{commentContent}
where comment_num = #{commentNum}
</update>

<!-- 댓글 삭제 -->
<delete id="deleteComment">
delete from comment
where comment_num = #{commentNum}
</delete>

</mapper>