<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaDAO">

	<!-- 총 QnA 개수 -->
	<select id="getQnACount" parameterType="int" resultType="int">
		select count(*)
		from qna
		where board_num = #{boardNum}
	</select>

	<!-- 스터디 별 QnA 목록 -->
	<select id="getQnAList" resultType="qnaVO">
		select qna_num, qna_title, userid, writedate, views
		from qna
		where board_num = #{boardNum}
		order by qna_num desc
		limit #{start}, #{end}
	</select>

	<!-- QnA 상세조회 -->
	<select id="getQnA" parameterType="int" resultType="qnaVO">
		select *
		from qna
		where qna_num = #{qnaNum}
	</select>
	
	<!-- QnA 검색 -->
	<select id="searchQnA" resultType="qnaVO">
	select * from qna
	<include refid="search" />
	order by writedate desc
	</select>
	
	<!-- 검색된 QnA 수 -->
	<select id="countQnA" resultType="int">
	select count(*)
	from qna
	<include refid="search" />
	</select>
	
	<!-- QnA 검색 sql -->
	<sql id="search">
	<choose>
	<when test="searchOption =='all'">
	where (qna_title like concat('%', #{keyword}, '%')
	or qna_content like concat('%', #{keyword}, '%')) and board_num = #{boardNum}
	</when>
	<otherwise>
	where ${searchOption} like concat('%', #{keyword}, '%') and board_num = #{boardNum}
	</otherwise>
	</choose>
	</sql>

	<!-- QnA 삽입 -->
	<insert id="insertQnA" parameterType="qnaVO">
		insert into
		qna(board_num, qna_title, qna_content, userid)
		values(#{boardNum}, #{qnaTitle}, #{qnaContent}, #{userId})
	</insert>

	<!-- QnA 수정 -->
	<update id="updateQnA" parameterType="qnaVO">
		update qna
		set qna_title = #{qnaTitle}, qna_content=#{qnaContent}
		where qna_num = #{qnaNum}
	</update>

	<!-- QnA 삭제 -->
	<delete id="deleteQnA" parameterType="int">
		delete from qna
		where qna_num = #{qnaNum}
	</delete>

	<!-- QnA 조회수 올리기 -->
	<update id="increaseViews" parameterType="int">
		update qna
		set views = views +1
		where qna_num = #{qnaNum}
	</update>
</mapper>

